@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Rowdies&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Rowdies&family=Shadows+Into+Light&display=swap');

body{
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    background:linear-gradient(120deg, white 30%, black 20%);
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    box-shadow: 2px 2px 4px ;
}

#logo, #img{
    height: 70px;
    width: auto;
}

ul li{
    display: inline-block;
    margin: 2px 20px;
}

.nav-link{
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 5px;
    
}

.nav-link:hover{
    transition: .3s;
    opacity: .5;
    border-bottom: 1px solid white;
}

main{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#img2{
    position: absolute;
}

.desc{
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc, h1, .para{
    font-family: 'Shadows Into Light';
    color: white;
}

h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -15px;
}

.para1{
    font-size: 25px;
    color: pink;
}

button{
    width: 150px;
    height: 30px;
    font-family: 'Shadows Into Light';
    color: white;
    background-color: black;
    border: 1px solid white;
}

button:hover{
    opacity: 5;
    transition: .3s;
    border: 2px solid white;
    background-color: #3e3c3c;
}

.gray{
    background-image: url('img3.png');
    background-position: center;
    width: 400px;
    height: 150px;
    position: absolute;
    top:40.6%;
    left: -0.1%;
    filter: grayscale();
    background-color: #3e3c3c;
    background-color: transparent;
    text-align: center;
}

.para2{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 20%;
    font-family: 'Shadows Into Light';
    font-size: 30px;
    color: pink;
}